<div class="container text-center">
  <h2><%= @cocktail.name %></h2>
  <div class="btn btn-link"><%= link_to "Edit this cocktail", edit_cocktail_path %></div>
  <div class="btn btn-link"><%= link_to "Delete", cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } %></div>
  <div class="btn btn-link"><%= link_to "Back to list", cocktails_path %></div>
  <div class="btn btn-link"><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail.id) %></div>


  <h2>Ingredients and Doses</h2>
  <% @cocktail.doses.each do |dose|  %>
    <div class="card">
        <h3><%= "#{dose.ingredient.name} - #{dose.description}" %></h3>
    </div>
  <%end %>

</div>
